<footer class="py-20 px-6 lg:px-24 border-t border-white/10 bg-black">
<div class="grid grid-cols-1 md:grid-cols-3 gap-12">
<div class="md:col-span-2">
<img alt="Logo" class="h-8 mb-8 invert" src="/assets/img/OT logo bco.png"/>
<p class="text-zinc-500 max-w-sm text-sm uppercase tracking-widest leading-loose">
    Ingeniería. Atletismo. Arte. Una exploración sincronizada de límites físicos y conceptuales.
</p>
</div>
<div>
<h4 class="text-xs font-black uppercase tracking-[0.3em] mb-6">Redes Sociales</h4>
<ul class="space-y-4 text-sm font-light text-zinc-400">
<li><a class="hover:text-white transition-colors" href="https://instagram.com/oscarttalavera" target="_blank">Instagram</a></li>
<li><a class="hover:text-white transition-colors" href="https://linkedin.com/in/oscar-talavera/" target="_blank">LinkedIn</a></li>
</ul>
</div>
</div>
<div class="mt-20 pt-8 border-t border-white/5 flex flex-col md:flex-row justify-between items-center gap-4">
<span class="text-[10px] uppercase tracking-widest text-zinc-600">© {{ 'now' | date: "%Y" }} Oscar Talavera. Construido para alto rendimiento.</span>
</div>
</footer>
