<nav class="fixed top-6 left-1/2 -translate-x-1/2 z-50 w-[90%] max-w-4xl">
<div class="bg-black/80 backdrop-blur-md border border-white/20 px-6 py-3 rounded-full flex items-center justify-between">
<div class="flex items-center gap-2">
<a href="/#hero">
  <img alt="Oscar Talavera Logo" class="h-6 w-auto" src="/assets/img/OT logo bco.png"/>
</a>
</div>
<div class="hidden md:flex items-center gap-8">
<a class="text-xs uppercase tracking-[0.2em] hover:text-primary/60 transition-colors" href="/#citations">Ideas</a>
<a class="text-xs uppercase tracking-[0.2em] hover:text-primary/60 transition-colors" href="/textos">Textos</a>
<a class="text-xs uppercase tracking-[0.2em] hover:text-primary/60 transition-colors" href="/coleccion">Colección</a>
</div>
</div>
</nav>
