<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% include meta.html %}
  <link rel="stylesheet" href="/assets/css/style.css" />
  {% if page.layout == 'post' %}
  <link rel="stylesheet" href="/assets/css/post.css" />
  {% elsif page.layout == 'recipe' %}
  <link rel="stylesheet" href="/assets/css/recipe.css" />
  {% elsif page.layout == 'car' or page.url contains '/coleccion' %}
  <link rel="stylesheet" href="/assets/css/collection.css" />
  {% endif %}
  <link rel="icon" href="/assets/img/OT logo ngo.png" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
</head>
<body>
  {% include header.html %}

  <main class="content">
    {{ content }}
  </main>

  {% include footer.html %}
</body>
</html>
